{% extends 'base.html' %}
{% block title %}About - MSU IRO{% endblock %}
{% block content %}
<section class="about">
    <h2>About Us</h2>
    <p>The MSU Global Health Initiative is a student-led nonprofit organization with a mission to enhance healthcare access and improve the well-being of underserved communities around the globe. This dedicated group of students works collaboratively to address pressing health disparities, focusing on creating sustainable solutions that empower vulnerable populations. By engaging in initiatives such as health education, medical outreach programs, and advocacy efforts, the organization strives to make a lasting impact on global health. Their commitment to service and innovation underscores their belief in the importance of equitable healthcare as a fundamental human right.</p>
</section>
{% endblock %}
