<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSU GHI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">MSU GHI</a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/events">Events</a>
                <a href="/contact">Contact</a>
            </nav>
            
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 MSU GHI. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
